body {
  font-family: "Open Sans", sans-serif;
  color: #232323;
}

h1,
h2,
h3,
ul {
  font-family: "Noto Serif", serif;
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  p {
    text-align: center;
  }
}
