body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, ul, a {
    font-family: 'Gabarito', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

main a, main h2 {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Consolas';


}


// Path: new/css/_resets.scss

