* {
    box-sizing: border-box;
}

html, body {
}

body {
    font-family: "Roboto", serif;
}

code {
    background-color: lightgray;
    padding: 3px;
    color: black;
    letter-spacing: 2px;
}

.animation-blink {
    animation: blink infinite 5s;
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hidden {
    outline: 2px solid rgb(85, 230, 85);

}
.hidden .section__content {
        animation: hide 2s forwards;
}
@keyframes hide {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
        padding: 0;
    }
}
.hidden .section__content p, .hidden .section__content h3{
    animation: minText 500ms forwards;
}
@keyframes minText {
    0% {
        font-size: inherit;
        opacity: 1;
    }
    100% {
        font-size: 0px;
        opacity: 0;
    }
}




main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(img/main_bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    > * {
        margin-block: 2em;
    }
}



.header {
    grid-column: 3/-3;
    border-radius: 1em;
    padding: 1em;
    color: #fff;
   
    background: #0F7961;
    background: radial-gradient(at right center, #0F7961 10%, #232323 60%);
    font-family: "Roboto Slab", serif;
    &__heading {
        min-width: min-content;
        font-weight: normal;
        letter-spacing: 6px;
        text-shadow: 3px 3px 3px #232323;

        .block-bold {
            font-weight: bold;
            display: block;
        }

    }
}

.section:nth-child(odd) {
    grid-column: 6 / -2;
}
.section:nth-child(even) {
    grid-column: 2 / -6;
}

.section {
    background-image: url("img/section_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    line-height: 1.6;
    border-radius: 1em;
    overflow: hidden;

    &__header {
        background: #0f7960ce;
        padding: 1em;
        position: relative;
        display: flex;
        align-items: center;

        h2 {
            flex: 1 1 0;
        }


        .markDone {
            height: 45px;
            aspect-ratio: 1;
            max-height: 100%;
            border: 3px solid #fff;
            padding: 5px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }
        }

    }

    &__content {
        box-shadow: 0 -3px 3px #23232367;
        background: #0f796080;
        padding: 1em;
        backdrop-filter: blur(8px);


    }

}
