* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

header {
    background-color: lightblue;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    /* font-size: 3.5rem; */
    font-size: 15vw;
    text-align: center;
}

div {
    background-color: #232323;
    color: #fff;
    padding: 1em;
}

div h2 {
    margin-top: 0
}

div p {
    font-size: calc(10px + 1vw);
}

@media screen and (min-width: 614px) {
    header {
      padding: 0 1em;
    }

    header h1 {
        font-size: 4.5rem;
    }

    div {
        display: grid;
        grid: auto 1fr / 1fr 1fr;
    }

    div h2 {
        grid-column: 1 / -1;
    }
  }