* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 0.5em;
  grid-template-rows: auto;
  opacity: 0;
  transition: ease-in-out 500ms;
  background-color: #1f1f1f;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

header {
  min-height: 544px;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1 / -1;
  border-radius: 24px;

  display: flex;
  align-items: center;
  padding-left: 2em;
  font-size: 4rem;

  h1 {
    opacity: 0.8;
  }
}

nav {
  height: 80px;
  background-color: #343636;
  position: sticky;
  top: 0;
  transition: ease-in-out 250ms;
  grid-column: 1 / -1;
  margin: 0 auto;

  display: flex;
  border-radius: 100vw;
  z-index: 1000;

  > * {
    flex: 1 1 0;
    background-color: #343636;
    border-radius: 100vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > *:hover {
    filter: brightness(125%);
  }
}

.active {
  background-color: #125680;
}

// .nav__con {
//   background-color: green;
// }

main {
  padding: 5em 0;
  height: 150vh;
  grid-column: 3 / -3;
  position: relative;
  transition: ease-in-out 250ms;
  overflow: hidden;
  color: #fff;

  > * {
    position: absolute;
    transition: ease-in 150ms;
    width: 100%;
  }
  .main__about {
    left: 100%;
  }
}

aside {
  padding: 10em 4em;
  grid-column: -3 /-1;
  // background-color: red;

  .aside__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .aside__entry--lg {
    font-size: 2rem;
    max-width: min-content;
  }
}
