@import "./vars";

aside {
  background: map-get($colors, aside);
    transition: ease-in-out 250ms;


  .nav {
    padding: 1em 2em;
    position: fixed;

    &__list {
      list-style: none;
      margin: 0;
      padding-left: 2rem;
    }

    &__item {
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  aside {
    // display: none;

    .nav {
      transform: translateX(-100%);
    }
  }
}
