@import "./vars";

.main {
  padding: 10vw 4em 0 4em;

  // background-color: yellow;

  &__wrapper {
    // background-color: pink;
    max-width: 75%;  
  }

  &__header {
    margin: 0 0 10em 0;

    // background-color: green;
  }

  &__sec {

    // background-color: red;
  }

  &__sec:not(:first-of-type) {
    margin-top: 4em;
  }

  &__text {
    margin-bottom: 0;

    // margin: 0;
  }

  &__tag {
    margin: 0.5em 0 2em 0;
  }
  &__tags {
    background-color: map-get($colors, tag-bg);
    padding: 0.35em 1.1em 0.35em 0.35em;
    margin-right: 0.5em;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 3px 3px 7px 3px;
    position: relative;
  }

  &__tags::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 4px;
    right: 1px;
    top: 1px;
    background-color: white;
  }
}

.sec__wrapper {
  padding: 2em 0;

  // background-image: linear-gradient(45deg, black, white);
}

@media screen and (max-width: 600px) {
  .main {
    &__sec {
      max-width: 100%;
    }
  }
}
