@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

* {
    box-sizing: border-box;
}

html, body {
    height: auto;
}

body {
    margin: 0 auto;
    max-width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 3px #333 solid;
}

header h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: calc(3.5em + 1vw);
    color: #333;
    margin-bottom: 0;
}

nav {
    max-width: auto;
    background-color: rgba(51, 51, 51, .1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 2em;
    min-width: 4em; 
}

nav ul li:hover {
    background-color: rgba(51, 51, 51, .1);
    transition: 250ms ease-in-out;
}

main {
}

/* MARGIN-BOTTOM */

nav, .add {
    margin-bottom: 5vh !important;
}

/* ADD */

.add {
    background-image: url(../img/jumping-444611_1280.jpg);
    background-size: cover;
    background-position: top 30%;
    height: 30vh;
    border: 1px solid black;
}

.add__text {
    width: 80%;
    margin: 0 auto;
    color: #333;
}

.add__text p {
    padding-bottom: 1em;
    font-size: 1.5em;
}

.add__text a {
    font-weight: bold;
    color: red;
    text-decoration: none;
    font-size: 1.5em;
    animation: blinker 1s linear infinite;
}

/* SECTIONS */

.top-news {
    height: 30vh;
    width: 100%;
    background-color: black;
    margin-bottom: 2em;

    display: grid;
    grid: auto / 1fr auto;

    color: white;
    position: relative;

}

.article__text {
    padding: 1em;
    overflow: hidden;
}

.alert__box {
    color: white;
    background-color: #ae312a;
    position: absolute;
    right: 2%;
    left: 88%;
    top: 5%;
    bottom: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 100%;
    height: 40vh;
    overflow: hidden;

    margin-bottom: 10em;

    display: grid;
    grid: auto / repeat(3, 1fr);
}

.grid div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    text-align: center;
}

.grid h3 {
    position: absolute;
    color: #fff;
    background-color: rgba(51, 51, 51, .4);
    padding: .5em 1em;
    bottom: 7em;
}



/* FOOTER */

footer {
    background-color: #333;
    width: 100%;
    height: 30vh;
    padding: 1em;
    border-top: 4px solid #005ca9;

}




/* TYPO */

.bold {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

main h2 {
    font-size: calc(.8em + 1vw);
    margin: 0 0 .5em 0;
}

main h2:hover {
    text-decoration: underline;
}

.alert{
    color: #ae312a;
    
}

.article__text h2{
    font-size: calc(1.5em + 1vw);
}

.article__text p{
    font-size: calc(1em + 1vw);
}

.grey {
    font-size: .5em;
    color: rgba(255, 255, 255, .5)
}

footer h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: calc(1.5em + 1vw);
    color: #fff;
    margin: 0 0 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.information-heading {
    text-transform: uppercase;
}

.contact-information-list {
    color: #fff;
}

/* IMAGES */

img {
    max-height: 100%;
}

.grid img {
    max-height: 75%;
}
