* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h6 {
    margin: 0;
}

body {
    margin: 0;
    position: relative;
}

nav, main {
    transition: 250ms ease-in-out;
    padding: 1em;

}

nav {
    background-color: lightcoral;
    position: absolute;
    width: 20vw;
    height: 100%;

    left: -20vw;

    -webkit-box-shadow:inset -5px -10px 10px 0 #232323;
    box-shadow:inset -5px 0px 10px 0 rgba(23,23,23,.5);
}

main {
    background-color: lightblue;
    position: relative;
    left: 0vw;
    height: 100%;

}

span {
    display: inline-block;
    background-color: yellow;
    padding: 1em;
}